body{
    margin: 0;
    padding: 0;
    width: 100%;
}
#btn-card{
    color: rgb(229, 219, 219);
    border: solid white;
}
#back-color{
    background-color: rgb(46, 55, 62);
    color: azure;
}
#FormTextArea{
    height: 4rem;
}
.ConvOrador, h3, h2 {
    
    justify-content: center;
    text-align: center;
}
#btn{
    background-color: rgb(140, 196, 55);
   
}
#footer{
    height: 4rem;
    width: 100%;
    color: white;
    background-color: rgb(29, 69, 94);
   display: flex;
   justify-content: center;
   align-items: center;
   
}
#titleCard{
    text-decoration: none;
    color: black;
}

#carrouselText{
display: flex;
margin-bottom: 10rem;
margin-right: 0;
color: rgb(255, 255, 255);
   
}
#btnCarrousel{
    text-shadow: black 2px 3px 2px;
}
#btnBorrar, #btnResumen{
    background-color: rgb(140, 196, 55);
    margin: auto;
    width: 18rem;
    height: auto;
    text-shadow: black 1px 2px 1px;
    
   
    
}
#btnResumen:hover {
   background-color: rgb(104, 165, 11);
   display: inline-block;
   position: relative;
   transition: 0.3s;
    box-shadow:3px 5px 15px rgb(44, 95, 68) ;
   
}
#btnBorrar:hover{
    background-color: rgb(104, 165, 11);
    transition: 0.3s;
    box-shadow:3px 5px 15px rgb(44, 95, 68) ;
}

#divPagar{
   height: 3rem;
   padding-top: 1rem;
   padding-bottom: 1,5rem;
   padding-left: 1rem;
   }
   .estudiante, p{
    padding: 0;
    margin: 0;
   }
   .estudiante{
    padding: 1rem;
    border: solid rgb(6, 41, 148) 2px;
    box-shadow: 1px 2px 5px black;
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
   }
   .trainee{
    padding: 1rem;
    border: solid rgb(0, 128, 255) 2px;
    box-shadow: 1px 2px 5px black;
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
   }
   .junior{
    padding: 1rem;
    border: solid rgb(190, 205, 130) 2px;
    box-shadow: 1px 2px 5px black;
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
    
   }
   .btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1.0s;
    
   }
   .junior:hover{
    transform: translate(2px,5px);
    transition: 0.3s;
    border: solid rgb(127, 154, 15);
    
   }
   .estudiante:hover{
    transform: translate(2px,5px);
    transition: 0.3s;
    border: solid rgb(2, 18, 65);
   }
   .trainee:hover{
    transform: translate(2px,5px);
    transition: 0.3s;
    border: solid rgb(2, 68, 134);
   }